@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  overflow: hidden;
}

.App-layout {
  min-height: 100vh;
}

.App-content {
  padding: 24px 50px;
  margin: 0;
}

.App-logo {
  width: 5em;
  pointer-events: none;
  padding-right: 1em;
  margin-top: 0.5em;
}
